body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', 'HYImpact', 'Minecraft' Arial,sans-serif;
    /* overflow: hidden; */
}
@font-face {
    font-family: 'HYImpact';
    src: url('../asset/HYImpact-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Minecraft';
    src: url('../asset/Minecraft\ Evenings.ttf');
}
@font-face {
    font-family: 'HeadlinerNo.45';
    src: url('../asset/HeadlinerNo.45\ DEMO.ttf');
}

a {
    text-decoration: none;
    color: black;
    transition: all .3s ease;
}

a:hover {
    color: white;
}

.topbar {
    font-family: 'Rubik';
    background-color: #9F9F9F;
    width: 100%;
    height: 132px;
    left: 0;
    top: 0;
    /* margin-top: -22px; */
}

.topbar h1 {
    position: absolute;
    width: 299px;
    height: 49px;
    left: 4%;
    top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.topbar ul {
    color: white;
    font-weight: bold;
    display: flex;
    list-style: none;
    right: 4%;
    top: 6%;
    box-sizing: border-box;
    position: absolute;
}

.topbar ul li {
    cursor: pointer;
    width: 114px;
    height: 39px;
    background: #5A5A5A;
    border-radius: 11px;
    text-align: center;
    margin: 0 20px;
    right: 4%;
    padding-top: 20px;
    margin-top: -20px;
}

.topbar ul li:nth-child(1) {
    cursor: pointer;
    width: 114px;
    height: 39px;
    background: #5A5A5A;
    border-radius: 11px;
    text-align: center;
    margin: 0 20px;
    right: 4%;
    padding-top: 20px;
    margin-top: -20px;
}

.rightbar {
    width: 60px;
    height: 100vh;
    float: right;
    right: 0;
    /* position: relative; */
    background-color: #9F9F9F;
}

.hero-img {
    left: 4%;
    position: relative;
    /* z-index: 1; */
    left: 0;
}

.owl-carousel {
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-1 {
    background-image: url(../img/bengsing-ingpek.gif);
    font-family: 'HYImpact';
}

.slide-2 {
    background-image: url(../img/home-hero-1200x600.webp);
    font-family: 'Minecraft';
}

.slide-3 {
    background-image: url(../img/ss_108e2981889423b057b778cd07ae25ac18406cf1.600x338.jpg);
    font-family: 'HeadlinerNo.45';
    font-size: 25px;
}

.slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 0 20%;
}

.slide-content h1 {
    font-family: "Anton", serif;
    font-size: 45px;
    text-transform: uppercase;
}

.slide-content p {
    font-family: "Lato", serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.slide-content button {
    font-family: "Roboto", serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}

.owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}

.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background:none !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 6%;
}

.slide-content button {
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    transition: all .3s ease;
}

.slide-content button:hover {
    border-radius: 20px;
    margin-top: 10px;
    background-color: #5b5756;
}

#login {
    width: 100%;
    background-color: #10101A;
    margin-top: -20px;
    display: inline-block;
}

.img-log {
    width: 80%;
}

.img-log h1 {
    font-family: 'Rubik';
    position: relative;
    width: 299px;
    height: 49px;
    left: 4%;
    top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.img-log img{
    height: 100vh;
    width: 70%;
    scale: 70%;
}

span {
    color: blue;
}

.form-log {
    position: absolute;
    /* float: right; */
    /* display: flex; */
    font-family: 'Rubik';
    margin-left: 50rem;
    margin-top: -32rem;
    color: white;
    scale: 130%;
}

.form-log h2 {
    -webkit-text-stroke-color: #5B6268;
    -webkit-text-stroke-width: 1px;
}

.form-log h3 {
    font-family: sans-serif;
}

.inp-pass {
    width: 0;
}

.form-login input {
    color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 23vw;
    background-color: #333333;
}

.uil {
    right: 20px;
    margin-top: -20px;
    /* margin-left: -30px; */
    position: absolute;
}

.form-loginn p {
    cursor: pointer;
    color: white;
    font-size: 8px;
    font-weight: lighter;
    transition: all .3s ease;
}

.form-loginn p:hover {
    color: blue;
}

.form-loginn {
    display: flex;
    margin-top: 20px;
}

.form-loginn button {
    cursor: pointer;
    background-color: #CECECE;
    position: absolute;
    right: 3%;
    border-radius: 20px;
    width: 5vw;
    height: 5vh;
}

.form-loginn input {
    cursor: pointer;
    width: 10px;
    padding-right: 5rem;
    background-color: transparent;
}
#login {
    width: 100%;
    background-color: #10101A;
    margin-top: -20px;
    display: inline-block;
}

.img-log {
    width: 80%;
}

.img-log h1 {
    font-family: 'Rubik';
    position: relative;
    width: 299px;
    height: 49px;
    left: 4%;
    top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.img-log img{
    height: 100vh;
    width: 70%;
    scale: 70%;
}

span {
    color: blue;
}

.form-log {
    position: absolute;
    /* float: right; */
    /* display: flex; */
    font-family: 'Rubik';
    margin-left: 50rem;
    margin-top: -32rem;
    color: white;
    scale: 130%;
}

.form-log h2 {
    -webkit-text-stroke-color: #5B6268;
    -webkit-text-stroke-width: 1px;
}

.form-log h3 {
    font-family: sans-serif;
}

.inp-pass {
    width: 0;
}

.form-login input {
    color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 23vw;
    background-color: #333333;
}

.uil {
    right: 20px;
    margin-top: -20px;
    /* margin-left: -30px; */
    position: absolute;
}

.form-loginn p {
    cursor: pointer;
    color: white;
    font-size: 8px;
    font-weight: lighter;
    transition: all .3s ease;
}

.form-loginn p:hover {
    color: blue;
}

.form-loginn {
    display: flex;
    margin-top: 20px;
}

.form-loginn button {
    cursor: pointer;
    background-color: #CECECE;
    position: absolute;
    right: 3%;
    border-radius: 20px;
    width: 5vw;
    height: 5vh;
}

.form-loginn input {
    cursor: pointer;
    width: 10px;
    padding-right: 5rem;
    background-color: transparent;
}